body {
    font-family: Arial, sans-serif;
    background: linear-gradient(0.25turn, #cc2b5e , #753a88);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease;
    overflow-x: hidden; 
overflow-y: auto;
}


.container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 1rem;
}

.searchContainer {
display: flex;
align-items: center;
border-radius: 5px; 
}

#searchInput {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -0.5rem;
    border-radius: 0.5rem;
}

button:hover {
    background-color: #45a049;
}

#suggestions {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 450px; /* Set the width to 100% */
    /*max-width: inherit; /* Add this line */
    background-color: #f9f9f9;
    border-top: none;
    z-index: 1;
    cursor: pointer;
    list-style-type: disc;
    line-height: 2rem;
}

#suggestions li:hover, #suggestions li:focus{
    color: #3498db;
}


#output {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.loader {
    display: none;
    width: 50px;
    height: 50px;
    margin: 20px auto;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

h2 {
    font-size: 20px;
    margin: 10px 0;
}

img {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.book {
    border: 1px solid #222020;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(232, 229, 229);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2.2px black;
}

.book h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    margin-bottom: 10px;
}
.book p{
    margin-top: 2.5rem;
    color: red;
}
.book-image {
    display: block;
    width: 200px; 
    height: 300px;
    object-fit: contain; 
    margin-bottom: 10px;

}

.book:hover {
transform: scale(1.1); 
transition: transform 0.3s ease; 
}


.book .add-to-cart-button{
position: absolute;
bottom: 10px;
right: 10px;
display: flex;
align-items: center;
justify-content: center;
border: none;
padding: 10px;
cursor: pointer;
background-color: #42275a;
color: #fff;

}

.add-to-cart-button i {
margin-right: 5px; 
color: rgb(203, 200, 206);
font-size: 50rem;
}

.filter-container, .filter-container label{
    margin-top: 10px;
}

.filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

.filter-container label {
    margin-right: 10px;
}

.sort-container {
    display: flex;
    justify-content: center;
}

.sort-container label {
    margin-right: 10px;
}

.filter-container,
.sort-container {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.filter-container label,
.sort-container label {
margin-right: 10px;
}

.filter-container select,
.sort-container select {
margin-left: 10px;
}


.searchContainer {
display: flex;
align-items: center;
border-bottom: none;
}

#searchInput {
flex: 1;
margin-right: 10px;
}
.searchContainer input[type="text"] {
flex: 1;
border: 1px solid #ddd;
border-radius: 5px;
padding: 10px;
font-size: 16px;
}

.filter-container label,
.sort-container label {
margin-right: 10px;
}

.button-container button {
padding: 10px 20px;
font-size: 16px;
background-color: #4CAF50;
color: #fff;
border: none;
cursor: pointer;
}

.button-container button:hover {
background-color: #45a049;
}

.button-container button:active {
background-color: #3e8e41;
}


#bookCount{
color: #ecbb1a;
margin-top: 10px;
font-size: 20px;
font-weight: 700;
}

.cart-container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item h3 {
    margin: 0;
}

.cart-item .remove-from-cart-button {
    background-color: palevioletred;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-count {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 14px;
}

.cart-button {
position: fixed;
top: 20px;
right: 20px;
background-color: #fff;
border: none;
border-radius: 50%;
padding: 10px;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
cursor: pointer;
}

.cart-button:hover {
background-color: #f5f5f5;
}

.cart-button .fa {
font-size: 20px;
color: black;
}

.cart-button-count {
position: absolute;
top: 0;
right: 0;
background-color: #ff0000;
color: #fff;
font-size: 12px;
padding: 2px 6px;
border-radius: 50%;
}

.add-to-cart-text {
display: inline-block;
padding: 8px 16px;
background-color: #4CAF50;
color: white;
font-size: 14px;
font-weight: bold;
border: none;
border-radius: 4px;
cursor: pointer;
}

.add-to-cart-text:hover {
background-color: #45a049;
}

.add-to-cart-text:active {
background-color: #3e8e41;
}

#toggleSection {
display: flex;
justify-content: center;
margin-top: 20px;
}

.section-toggle {
margin: 0 10px;
}

.button-container {
position: absolute;
top: 10;
right: 0;
margin: 30px;
padding: 5px;
margin-right: -0.5rem;
}

#cartDetailsButton {
padding: 8px 16px;
background-color: #4CAF50;
color: white;
font-size: 14px;
font-weight: bold;
border: none;
border-radius: 4px;
cursor: pointer;
margin: 10px;
}

#cartDetailsButton:hover {
background-color: #45a049;
}

#cartDetailsButton:active {
background-color: #3e8e41;
}

@media screen and (max-width: 600px) {
#cartDetailsButton {
margin-top: 20px;
}
}